<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.Capium.TestRunFiles.Capium_Login_runfile" />
			<class name="com.Capium.TestRunFiles.Capium_BK_Dashboard_runfile" />
			<class name="com.Capium.TestRunFiles.Capium_ClientCreation_runfile" />
			<class name="com.Capium.TestRunFiles.Capium_BK_Contacts_runfile" />
			<class name="com.Capium.TestRunFiles.Capium_BK_Sales_runfile" />
	 		<class name="com.Capium.TestRunFiles.Capium_BK_purchase_runfile" /> 
			<class name="com.Capium.TestRunFiles.Capium_BK_QuickEntry_runfile" />
			<class name="com.Capium.TestRunFiles.Capium_BK_Tasks_runfile" />
			<class name="com.Capium.TestRunFiles.Capium_BK_CIS_runfile" />
			<class name="com.Capium.TestRunFiles.Capium_BK_Reports_runfile" />
			<class name="com.Capium.TestRunFiles.Capium_BK_Schedule_runfile" />
			<class name="com.Capium.TestRunFiles.Capium_BK_Bank_runfile" />
			<class name="com.Capium.TestRunFiles.Capium_BK_FixedAssests_runfile"/>
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
